* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foodStar {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container {
    width: 98%;
    max-width: 98%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.star-rating .star {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}

.star-rating .star.selected {
    color: #ffc107;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#reviewList {
    list-style: none;
    margin-top: 20px;
}

#reviewList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.review-text {
    font-weight: bold;
}

.review-rating {
    color: #ffc107;
    margin-top: 5px;
}

footer {
    position: fixed;
    bottom: 0;
}